/***********************
  29 ERROR START
************************/
.error-main{
	background-color: rgba($theme-primary,0.08);
    background-image: url("../../assets/images/error-bg.png");
    background-size: cover;
    background-position: center;
}
.codex-error {
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
	h1{
		font-size: calc(32px + (45 - 32) * ((100vw - 320px) / (1920 - 320)));
		font-weight: 700;
        margin-top: 30px;
		margin-bottom: 10px;
	}
	p{
		font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));	
	}
	.btn {
		margin-top: 30px;
		padding: 15px 30px;
		font-size: 18px;	
		svg{
			width: 20px;
			height: auto;
			margin-right: 5px;
		}
	}
	.error-detail{
		margin-top: -27px;
	}
}
